#folders

.vs/
.idea/
.vscode/
Binaries/
Intermediate/
DerivedDataCache/
Saved/
ThirdParty/
Build/
Content/Temp/

#files

*.vscode
*.sln
*.xcodeproj
*.VC.db
*.opensdf
*.opendb
*.sdf
*.suo
*.xcworkspace